.searchWrapper{
    padding:16px 32px;
    display: flex;
    justify-content: space-between;
}
.searchInputBox{
    display: flex;
    
}

.searchInput{
    border: 2px solid #331ad9;
    width:auto;
}

.searchBtn{
    background-color: #331ad9;
    color:white;
    border-radius: 2px;
}

.sendBtn{
    background-color: #18148c;
    color:white;
    border-radius: 2px;
}

.viewBtn{
    background-color: #371bf2;
    color:white;
    border-radius: 2px;
}


.textLogo{
    font-weight: 600;
    font-size: 24px;
    padding: 16px 32px;
    margin-bottom:0px;
    color:#131073;
}







.input-group-text{
    text-align: center;
    width:100px;
    border-radius: 16px;
    background-color: #18148c;
    color:white;
}

