
.list-container{
    margin:4px
}
.list-table-box{
    margin:0px;
    overflow-y: auto;
    width:100%;
    height:70vh;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-table tr{
    white-space: nowrap;
}

.list-data tr:nth-child(2n){
    background-color: #f5f6fa;
}


.list-table th{
    background-color: #18148c;
    color:white;
    position: sticky;
    top:0px;
    z-index: 1;
}


.list-table td , .list-table th{
    border:none;

}

/* modal */
.modalLabel{
    margin: 2px 0px 4px 2px;
}

.modalInput{
    width: 100%;
    outline-color: #131073;
    padding: 2px 4px;
}

.modal-header{
    background-color:  #131073;
    color:white;
}

.modalDelBtn{
color:white;

}

.modal-content{
    border-radius: 8px;
}

.modal-body{
    padding:12px 24px;
    font-weight: 600;
}

.btn, .form-control{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

