
.date-box{
    display: flex;
    padding:16px 32px;
}


.fixed-navgator-group{
    font-size: 32px;
    color:#371bf2;
    position: fixed;
    bottom:5%;
    right:5%;
}

.fixed-navgator-control{
    margin: 5px;
}

.admin-list-data tr:nth-child(4n){
    background-color: #f5f6fa;
}

.result-box-header{
    background-color: #18148c;
    color:white;
    padding:12px;
    position: sticky;
    top:0px;
    z-index: 1;
}

.result-box-body{
    padding:0.75rem;
}

.result-logo-box{
   text-align: center;
   padding: 130px 0;
}
.result-logo{
    padding:15px 0px;
    color:#131073;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -15px;
    font-weight: 600;
}

.pagination-box{
    width:60%;
    text-align: center;
}
.page-btn-group{
    display:inline-flex;
    margin-right: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.page-btn-group .btn{
    
    border-radius:0rem;
    background-color: #f5f6fa;
    box-shadow: none;
}

.page-btn-group .btn:hover{
    background-color: #18148c;
    /* border-bottom:2px solid #18148c; */
    color:white;
}

.page-first-item .btn{
    border-radius:0.25rem 0 0 0.25rem;
}

.page-last-item .btn{
    border-radius:0 0.25rem  0.25rem 0;
}