<!DOCTYPE html>
<html lang="ko">
<!-- header GET -->
<head th:replace="fragment/header2::header"></head>

<body>
    <div class="container">
        <h1 class="text-center p-3 m-5">People Togehter</h1>
        <form action="SIGNUP" method="post" id="SIGNUP" class="p-2 m-2">
            <input hidden id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="form-group">
                <label for="username">NAME</label>
                <input type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div class="form-group">
                <label for="password_check">PASSWORD CHECK</label>
                <input type="password" class="form-control" id="password_check" required>
            </div>
            <button type="submit" class="btn btn-primary">회원등록</button>
        </form>
    </div>
    <div class="fixed-navgator-group">
        <a class="fixed-navgator-control" href="/"><i class="fas fa-home"></i></a>
        <a class="fixed-navgator-control" href="/list?id=cGVvdG8=&pw=cGVvdG8=&page=0&date=&name="><i class="fas fa-users-cog"></i></a>
        <a class="fixed-navgator-control" href="/signup"><i class="fas fa-user-plus"></i></a>
        <a class="fixed-navgator-control" href="/memberlist"><i class="far fa-address-book"></i></a>
    </div>

    <!-- footer GET -->
    <footer th:replace="fragment/footer::footer"></footer>

    <!-- others -->
    <script src="/js/auth/signup.js"></script>
</body>
</html>